@import url(nullstyles.css);

.wrapper {
   width: 730px;
   height: 770px;
   margin: 5% auto;
   box-shadow: 0 0 3px #191919;
   border-radius: 3px;
   overflow: hidden;
   background-color: rgb(255, 223, 223);
   position: relative;
}

.wrapper-image {
   user-drag: none;
   -webkit-user-drag: none;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

#dick {
   /* position: absolute; */
}

#hand {
   position: absolute;
}